.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.title {
    font-family: var(--got-font), sans-serif;
    font-size: 32px;
    color: var(--font-theme-color);
}

.desc {
    font-family: var(--primary-reg-font), sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 0;
    color: var(--font-theme-color);
}
