:root {
    --got-font: 'GOT-regular';
    --primary-reg-font: 'cormorant-regular';
    --primary-light-font: 'cormorant-light';

    --white-color: #fff;
    --black-color: #000;
    --fire-color: #e85b23;
    --ice-color: #385272;
}
