@import "styles/mixins";

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
    border-top: 1px solid var(--black-color);
}

.copyright {
    @include regularFont();
}

.link {
    text-decoration: underline;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
}
