.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-theme-color);
}

.lightTheme {
    --bg-theme-color: var(--white-color);
    --font-theme-color: var(--black-color);
}

.darkTheme {
    --bg-theme-color: var(--black-color);
    --font-theme-color: var(--white-color);
}

.main {
    flex-grow: 1;
}
