.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.lightTheme {
    background-color: var(--white-color);
}

.darkTheme {
    background-color: var(--black-color);
}

.main {
    flex-grow: 1;
}
