@import "styles/mixins";

.container {
    position: relative;
    width: 180px;
    height: 280px;
    cursor: pointer;

    @include isMobile {
        width: 120px;
        height: 180px;
    }
}

.container:hover .layer {
    display: flex;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    padding: 8px;
    background-color: var(--white-color);
    opacity: .8;
}

.name {
    @include mediumFont();
    color: var(--black-color);
    margin: 0 0 16px 0;
}

.link {
    @include regularFont();
    color: var(--blue-color);
}

.link:hover {
    text-decoration: underline;
}
