@import "styles/mixins";

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.preview {
    width: 50%;
}

.desc {
    @include regularFont();
    margin-bottom: 40px;
}

.imageContainer {
    position: relative;
}

.image {
    top: 0;
    left: 0;
}
